body {
    background-color : #555555;
    background-image: url("bgimage.jpg");
    background-size:1100px;
}

table {
  width: 100%;
  background-color: #aaaaaa;
}

center {
    color: brown;
}

.background {
    background-color: white;
    width :250px;
}

td {
  padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;
color: black;
}

td:hover {color : black}

th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: brown;
color: white;
}

tr { color:#5f5f5f;}

tr:hover {
    background-color:#f5f5f5;
    font: red;
}


